<!DOCTYPE html>
<html>
  <head>
    <meta name="csrf-param" content="authenticity_token" />

    <title>Splashy Cats featured in 122 countries! - Inside Games Latam</title>





<meta property="og:title" content="Splashy Cats featured in 122 countries!" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://insidegameslatam-beta.quintype.io/mobile/2016/06/16/splashy-cats-featured-in-122-countries" />
<meta property="og:site_name" content="Insidegames-latam sai sagar" />
<meta property="og:description" content="IB Media" />
<meta property="og:image" content="http://d1pcxoetpnw26i.cloudfront.net/insidegames-latam/2016-09/8ceed1db-ddea-47cb-a96b-d45464fe04e7/1280x720-Android-Store-Promo.png" />




    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">

    <!-- BEGIN PRIVY WIDGET CODE -->
    <script type='text/javascript'> var _d_site = _d_site || 'AE9D1DEFFACB8FF50791AA95'; </script>
    <script src='//widget.privy.com/assets/widget.js'></script>
    <!-- END PRIVY WIDGET CODE -->
    <link rel="stylesheet" media="all" href="//fea.quintype.com/insidegamesasia/assets/application-87e0fdfed6dc88d752b0109472047bc6be6da6f1c34ea8543d0c23682e0491e0.css" />
    <script src="//fea.quintype.com/insidegamesasia/assets/application-4ae25cdd30cc65651fb8023bbadf064dcdc5f069287e8e3037ff6478a3723c35.js"></script>
    <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
    <script>
      var googletag = googletag || {};
      googletag.cmd = googletag.cmd || [];
      // ads
      googletag.cmd.push(function() {
        googletag.defineSlot('/60988533/IBMedia_Home_DT_300x250_01', [300, 250], 'div-gpt-ad-1470203448818-0').addService(googletag.pubads());
        googletag.defineSlot('/60988533/IBMedia_Home_DT_300x250_02', [300, 250], 'div-gpt-ad-1470203448818-1').addService(googletag.pubads());
        googletag.defineSlot('/60988533/IBMedia_Home_DT_960*90', [960, 90], 'div-gpt-ad-1470203448818-2').addService(googletag.pubads());

        googletag.defineSlot('/60988533/IBMedia_Home_DT_728x90_01', [728, 90], 'div-gpt-ad-1470286711845-0').addService(googletag.pubads());
        googletag.defineSlot('/60988533/IBMedia_Home_DT_728x90_02', [728, 90], 'div-gpt-ad-1470286711845-1').addService(googletag.pubads());
        googletag.defineSlot('/60988533/IBMedia_Home_DT_728x90_03', [728, 90], 'div-gpt-ad-1470286711845-2').addService(googletag.pubads());
        googletag.defineSlot('/60988533/IBMedia_Home_DT_728x90_04', [728, 90], 'div-gpt-ad-1470286711845-3').addService(googletag.pubads());

        googletag.defineSlot('/60988533/IBMedia_Home_Mobile_320*100_1', [320, 100], 'div-gpt-ad-1470203448818-3').addService(googletag.pubads());
        googletag.defineSlot('/60988533/IBMedia_Home_Mobile_320*100_2', [320, 100], 'div-gpt-ad-1470203448818-4').addService(googletag.pubads());
        googletag.defineSlot('/60988533/IBMedia_Home_Mobile_320*50', [320, 50], 'div-gpt-ad-1470203448818-5').addService(googletag.pubads());

        // Section Ad
        googletag.defineSlot('/60988533/IBMedia_Section_DT_300x250', [300, 250], 'div-gpt-ad-1470986601713-0').addService(googletag.pubads());
        googletag.defineSlot('/60988533/IBMedia_Section_DT_960x90', [960, 90], 'div-gpt-ad-1470986601713-1').addService(googletag.pubads());

        googletag.defineSlot('/60988533/IBMedia_SearchPage_desktop_300x250', [300, 250], 'div-gpt-ad-1470203448818-6').addService(googletag.pubads());
        googletag.defineSlot('/60988533/IBMedia_SearchPage_desktop_960*90', [960, 90], 'div-gpt-ad-1470203448818-7').addService(googletag.pubads());
        googletag.defineSlot('/60988533/IBMedia_Storypage_desktop_300x250', [300, 250], 'div-gpt-ad-1470203448818-8').addService(googletag.pubads());
        googletag.defineSlot('/60988533/IBMedia_TagsPage_desktop_300x250', [300, 250], 'div-gpt-ad-1470203448818-9').addService(googletag.pubads());
        googletag.defineSlot('/60988533/IBMedia_TagsPage_desktop_960*90', [960, 90], 'div-gpt-ad-1470203448818-10').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
      });

      window.qlitics=window.qlitics||function(){(qlitics.q=qlitics.q||[]).push(arguments);};
      qlitics('init');
      qlitics('track', 'page-view', {'page-type': "story" });
    </script>
    <script async src='/qlitics.js'></script>
  </head>
  <body>
    <script type="text/javascript">var qtReady = qtReady || [];</script>

      <header>
  <!-- topbar -->
  <div class="topbar-wrapper">
    <div class="container">
      <div class="date-time">
        Wednesday October 05, 2016
      </div>
      <div class="topbar-social">
        <ul>
          <li><a class="topbar-social--share facebook-icon" target=" " href=""></a></li>
          <li><a class="topbar-social--share twitter-icon" target=" " href=""></a></li>
          <li><a class="topbar-social--share google-icon" target=" " href=""></a></li>
          <li><a class="topbar-social--share linkedin-icon" target=" " href=""></a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- ads   -->
  <div class="header-ads-mobile">
    <!-- /60988533/IBMedia_Home_Mobile_320*50 -->
    <div id='div-gpt-ad-1470203448818-5' style='height:50px; width:320px;'>
      <script>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1470203448818-5'); });
      </script>
    </div>
  </div>
<div class="adwrap">

  <div class="header-ads-desktop home_page">
    <!-- /60988533/IBMedia_Home_DT_960*90 -->
    <div id='div-gpt-ad-1470203448818-2' style='height:90px; width:960px;'>
      <script>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1470203448818-2'); });
      </script>
    </div>
  </div>

</div>
  <!-- header -->
  <div class="header-wrapper">
    <div class="container">
      <div class="menuButton-logo-wrapper">
        <a href="javascript:void(0);" class="menu"></a>
        
          <h2 class="logo-wrapper"><a href="/" class="latam-logo"></a></h2>
        
      </div>

      <!-- navigation menu -->
      <div class="nav-menu">
        <nav class="topnav sidenav" id="mainSidenav">
          <ul class="menu-items">
  <span><a href="javascript:void(0)" class="closebtn">&times;</a></span>
  <li class="menu-item"><a href="/">Home</a></li>
  
  <li class="menu-item"><a href="/category/all-platforms">all-platforms</a>
    
    </a><span class="submenu-icon">v</span>
    <ul class="submenu">
    
      <li class="submenu-item"><a href="/category/all-platforms/blast-from-the-past">blast-from-the-past</a></li>
    
      <li class="submenu-item"><a href="/category/all-platforms/consoles">consoles</a></li>
    
      <li class="submenu-item"><a href="/category/all-platforms/facebook">facebook</a></li>
    
      <li class="submenu-item"><a href="/category/all-platforms/indie">indie</a></li>
    
      <li class="submenu-item"><a href="/category/all-platforms/mobile">mobile</a></li>
    
      <li class="submenu-item"><a href="/category/all-platforms/pc">pc</a></li>
    
      <li class="submenu-item"><a href="/category/all-platforms/vr">vr</a></li>
    
    </ul>
    
  </li>
  
  <li class="menu-item"><a href="/category/events">events</a>
    
    </a><span class="submenu-icon">v</span>
    <ul class="submenu">
    
      <li class="submenu-item"><a href="/category/events/esports">esports</a></li>
    
    </ul>
    
  </li>
  
  <li class="menu-item"><a href="/category/international">international</a>
    
  </li>
  
  <li class="menu-item"><a href="/category/opportunity">opportunity</a>
    
    </a><span class="submenu-icon">v</span>
    <ul class="submenu">
    
      <li class="submenu-item"><a href="/category/opportunity/education">education</a></li>
    
    </ul>
    
  </li>
  
</ul>

          <ul class="secondary-nav">
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/privacy_policy">Privacy</a></li>
            <li><a href="#">Powered by Quintype</a></li>
          </ul>
        </nav>
      </div>
      <div class="login-search-wrapper">
        <div class="js-header-login-container login--header-container"></div>
        <div class="topbar-search">
          <form action="/search">
            <input class="topbar-search__input js-search-input-field" name="search" type="text" placeholder="Search for stories.. ">
            <input class="topbar-search__button js-search-submit-button" value="" type="submit">
          </form>
        </div>
      </div>
    </div>
  </div>
</header>


      <div  class="menuclose">
        <div class="story-page">
  
<div class="container">
 <!-- wraps the entire content of story page -->
<!-- <section>
<div class="story_left">LEFT</div>
<div class="story_right">right</div>
</section> -->
  <div class="article__hero"> <!-- wraps story headline and by-line and story social-share-->
  <div class="article__section">
    <span class="article__hero__section article__hero__section-left-align ">MOBILE</span>
  </div>
    <h1 class="article__hero__headline">
      Splashy Cats featured in 122 countries!
    </h1>
  <div class="article__details__byline">by
    <span class="article__details__byline--authorname">
       Martina Santoro
    </span>
    <span class="article__details__byline--published-info">
      <time class="published-at" datetime="2016-03-07" itemprop="datePublished"> Jun 16, 2016 </time>
    </span>
  </div>
  <div class="article__details__share">
  <ul class="social-share">
    <li><a href="#" rel="nofollow" class="share__button facebook" onclick="javascript:window.open('http://facebook.com/sharer.php?u='+location.href+'','title.',
      'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;" >
        <!-- svg code for the facebook rounded icon -->
        <svg width="25px" height="25px" viewBox="0 0 80 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 3.6.1 (26313) - http://www.bohemiancoding.com/sketch -->
            <title>facebook icon</title>
            <defs></defs>
            <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Color" transform="translate(-275.000000, -433.000000)">
                    <circle id="Oval-1" fill="#4460A0" cx="315" cy="473" r="40"></circle>
                    <path d="M317.736183,493.75043 L317.736183,475.162184 L323.975399,475.162184 L324.909633,467.918015 L317.736183,467.918015 L317.736183,463.293071 C317.736183,461.195717 318.31859,459.766439 321.326168,459.766439 L325.16219,459.764763 L325.16219,453.28552 C324.498764,453.197238 322.221662,453 319.57243,453 C314.041712,453 310.255233,456.375956 310.255233,462.575639 L310.255233,467.918015 L304,467.918015 L304,475.162184 L310.255233,475.162184 L310.255233,493.75043 L317.736183,493.75043 Z" id="Facebook" fill="#FFFFFF"></path>
                </g>
                <g id="Credit" transform="translate(-1529.000000, -676.000000)"></g>
            </g>
        </svg>
        <!--end of svg code for the facebook rounded icon -->
    </a></li>
    <li><a class="share__button whatsapp" href="whatsapp://send?text=http://insidegames-latam.quintype.io/mobile/2016/06/16/splashy-cats-featured-in-122-countries" rel="nofollow" data-action="share/whatsapp/share">
        <!--svg code for the whatsapp rounded icon -->
        <svg width="25px" height="25px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
            <title>whatsapp</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="whatsapp">
                    <g id="Group-11">
                        <g id="Page-1">
                            <g id="story-page-V2">
                                <g id="Group-11">
                                    <circle id="Oval-11" fill="#43D854" cx="14.9925595" cy="14.9925595" r="14.9925595"></circle>
                                    <g id="whatsapp-logo" transform="translate(6.666667, 6.666667)" fill="#FFFFFF">
                                        <path d="M16.6666667,8.1187037 C16.6666667,12.6025926 13.0038889,16.2374074 8.48481482,16.2374074 C7.05018518,16.2374074 5.7024074,15.8707407 4.52981482,15.2272222 L0,16.6666667 L1.47685185,12.3107407 C0.731851852,11.0874074 0.302777778,9.6525926 0.302777778,8.1187037 C0.302777778,3.63481482 3.96592593,0 8.48481482,0 C13.0042593,0 16.6666667,3.63481482 16.6666667,8.1187037 L16.6666667,8.1187037 L16.6666667,8.1187037 Z M8.48481482,1.29296296 C4.69148148,1.29296296 1.60592593,4.355 1.60592593,8.1187037 C1.60592593,9.61222222 2.09277778,10.9953704 2.9162963,12.1205556 L2.05685185,14.6555556 L4.70037037,13.8153704 C5.78648148,14.5285185 7.0875926,14.9444445 8.485,14.9444445 C12.2777778,14.9444445 15.3638889,11.8827778 15.3638889,8.11907407 C15.3638889,4.35537037 12.277963,1.29296296 8.48481482,1.29296296 L8.48481482,1.29296296 L8.48481482,1.29296296 Z M12.6164815,9.98851852 C12.5659259,9.90574073 12.4324074,9.85574073 12.232037,9.7562963 C12.0312963,9.65685185 11.045,9.17518518 10.8616667,9.10907407 C10.6777778,9.04277778 10.5437037,9.00944445 10.4101852,9.20851852 C10.2766667,9.40777778 9.89222222,9.85574073 9.775,9.98851852 C9.65796297,10.1216667 9.54111112,10.1383333 9.34037037,10.0387037 C9.14,9.93925927 8.49388888,9.72888888 7.72777778,9.05111112 C7.13166667,8.5237037 6.72907407,7.8725926 6.61203703,7.67314815 C6.49518518,7.47407407 6.59981482,7.36648148 6.7,7.2674074 C6.79037037,7.17814815 6.90074073,7.035 7.00092593,6.91888888 C7.10148148,6.8025926 7.13481482,6.71981482 7.2012963,6.58685185 C7.26851852,6.45407407 7.235,6.33796297 7.18462963,6.23814815 C7.13462963,6.1387037 6.73314815,5.15944445 6.56611112,4.76092593 C6.39907407,4.36277778 6.23222222,4.42907407 6.115,4.42907407 C5.99814815,4.42907407 5.86425927,4.4124074 5.73055555,4.4124074 C5.59685185,4.4124074 5.37944445,4.46222222 5.19555555,4.6612963 C5.01185185,4.86055555 4.49388888,5.34203703 4.49388888,6.32111112 C4.49388888,7.30037037 5.21222222,8.24648148 5.31277778,8.37907407 C5.41296297,8.51166667 6.69981482,10.5864815 8.7387037,11.3833333 C10.7777778,12.1798148 10.7777778,11.9140741 11.1455556,11.8807407 C11.512963,11.8475926 12.3318518,11.3994445 12.4996296,10.935 C12.6662963,10.4698148 12.6662963,10.0714815 12.6164815,9.98851852 L12.6164815,9.98851852 L12.6164815,9.98851852 Z" id="WhatsApp"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        <!--end of svg code for the whatsapp rounded icon -->
    </a></li>
    <li>
        <a href="#" class="share__button twitter" rel="nofollow" class="storyshare__icons__twitter storyshare__icons__alignment" onclick="javascript:window.open('https://twitter.com/intent/tweet?url='+location.href+';text=Splashy Cats featured in 122 countries!;&original_referer='+location.origin+'','',
            'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;" >
        <!-- svg code for the twitter rounded icon -->
        <svg width="25px" height="25px" viewBox="0 0 80 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 3.6.1 (26313) - http://www.bohemiancoding.com/sketch -->
            <title>twitter</title>
            <defs></defs>
            <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Color" transform="translate(-375.000000, -433.000000)">
                    <circle id="Oval-1" fill="#00AAEC" cx="415" cy="473" r="40"></circle>
                    <path d="M439,457.735283 C437.236309,458.538462 435.337383,459.081618 433.345483,459.324305 C435.379644,458.076201 436.940482,456.097147 437.675823,453.739617 C435.771263,454.895269 433.666667,455.736006 431.418384,456.18671 C429.626519,454.224991 427.065504,453 424.231203,453 C418.796443,453 414.387216,457.521488 414.387216,463.097508 C414.387216,463.88913 414.471738,464.657638 414.640782,465.397255 C406.456242,464.975442 399.201444,460.959552 394.341433,454.843265 C393.493397,456.339834 393.008804,458.076201 393.008804,459.925244 C393.008804,463.426869 394.747139,466.518238 397.389857,468.329722 C395.778306,468.280607 394.256911,467.821235 392.9271,467.070061 L392.9271,467.194294 C392.9271,472.08848 396.322064,476.17082 400.8299,477.095341 C400.004402,477.33225 399.133826,477.450704 398.235077,477.450704 C397.601162,477.450704 396.981335,477.390033 396.381229,477.271578 C397.634971,481.28169 401.269414,484.2026 405.580032,484.280607 C402.210424,486.99061 397.961789,488.605634 393.349709,488.605634 C392.555203,488.605634 391.769149,488.559408 391,488.466956 C395.358514,491.327194 400.53689,493 406.095615,493 C424.211481,493 434.114633,477.615385 434.114633,464.270495 C434.114633,463.831347 434.106181,463.392199 434.089276,462.961719 C436.013559,461.537378 437.684275,459.760563 439,457.735283" id="Twitter" fill="#FFFFFF"></path>
                </g>
                <g id="Credit" transform="translate(-1629.000000, -676.000000)"></g>
            </g>
        </svg>
        <!--end of svg code for the facebook rounded icon -->
    </a></li>
    <!-- <li><a id="linked_in_share" class="share__button linkedin" rel="nofollow" target=" "> -->
    <li><a id="linked_in_share" class="share__button linkedin" onclick="javascript:window.open('https://www.linkedin.com/cws/share?token&isFramed=false&url='+ location.href +'','','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;">

        <!--svg code for the linkedin rounded icon -->
        <svg width="25px" height="25px" viewBox="0 0 80 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 3.6.1 (26313) - http://www.bohemiancoding.com/sketch -->
            <title>linkedin</title>
            <defs></defs>
            <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Color" transform="translate(-475.000000, -433.000000)">
                    <circle id="Oval-1" fill="#007EBB" cx="515" cy="473" r="40"></circle>
                    <path d="M538,491 L528.2754,491 L528.2754,476.9384 C528.2754,473.257796 526.754233,470.74515 523.409219,470.74515 C520.850659,470.74515 519.427799,472.440738 518.765522,474.074854 C518.517168,474.661395 518.555974,475.478453 518.555974,476.295511 L518.555974,491 L508.921919,491 C508.921919,491 509.046096,466.091247 508.921919,463.827047 L518.555974,463.827047 L518.555974,468.091631 C519.125118,466.226996 522.203669,463.565794 527.116416,463.565794 C533.21143,463.565794 538,467.474355 538,475.890824 L538,491 L538,491 Z M499.17921,460.428187 L499.117121,460.428187 C496.0127,460.428187 494,458.350964 494,455.717936 C494,453.033681 496.072201,451 499.238711,451 C502.402634,451 504.348071,453.028559 504.41016,455.710252 C504.41016,458.34328 502.402634,460.428187 499.17921,460.428187 L499.17921,460.428187 L499.17921,460.428187 Z M495.109831,463.827047 L503.685795,463.827047 L503.685795,491 L495.109831,491 L495.109831,463.827047 L495.109831,463.827047 Z" id="LinkedIn" fill="#FFFFFF"></path>
                </g>
                <g id="Credit" transform="translate(-1729.000000, -676.000000)"></g>
            </g>
        </svg>
        <!--end of svg code for the linkedin rounded icon -->
    </a></li>
    <li><a href="#" rel="nofollow" class="share__button googleplus" onclick="javascript:window.open('https://plus.google.com/share?url='+location.href+'','','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;" >
        <!--svg code for the googleplus rounded icon -->
        <svg width="25px" height="25px" viewBox="0 0 80 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 3.6.1 (26313) - http://www.bohemiancoding.com/sketch -->
            <title>google+</title>
            <defs></defs>
            <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Color" transform="translate(-575.000000, -433.000000)">
                    <circle id="Oval-1" fill="#F93F2D" cx="615" cy="473" r="40"></circle>
                    <path d="M636.836478,469.642664 L636.836478,463.468047 L632.433962,463.468047 L632.433962,469.642664 L626.09434,469.642664 L626.09434,474.053105 L632.433962,474.053105 L632.433962,480.40414 L636.836478,480.40414 L636.836478,474.053105 L643,474.053105 L643,469.642664 L636.836478,469.642664 L636.836478,469.642664 Z M604.786164,469.289829 L604.786164,476.346535 C604.786164,476.346535 611.619572,476.337361 614.401962,476.337361 C612.895245,480.912047 610.552403,483.40324 604.786164,483.40324 C598.950717,483.40324 594.396226,478.664133 594.396226,472.818182 C594.396226,466.97223 598.950717,462.233123 604.786164,462.233123 C607.871447,462.233123 609.864025,463.319503 611.691774,464.833696 C613.154818,463.368018 613.032604,463.15914 616.754843,459.637667 C613.595069,456.756414 609.395421,455 604.786164,455 C594.963094,455 587,462.977429 587,472.818182 C587,482.658758 594.963094,490.636364 604.786164,490.636364 C619.468906,490.636364 623.05766,477.828443 621.867925,469.289829 L604.786164,469.289829 L604.786164,469.289829 Z" id="GooglePlus" fill="#FFFFFF"></path>
                </g>
                <g id="Credit" transform="translate(-1829.000000, -676.000000)"></g>
            </g>
        </svg>
        <!--end of svg code for the googleplus rounded icon -->
    </a></li>
    <!-- Scroll Down for Submit a Comment -->
    <li><a class="share__button comments" href="#" rel="nofollow" onclick="scrollToAnchor('.article__tags')">
        <!--svg code for the comments rounded icon -->
        <svg width="25px" height="25px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
            <title>Group 8 Copy</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Group-8-Copy">
                    <ellipse id="Oval-11-Copy-3" fill="#9A9A9A" cx="14.9925595" cy="14.9925595" rx="14.9925595" ry="14.9925595"></ellipse>
                    <path d="M17.2238039,18.3827853 L21.3355655,18.3827853 L21.3355655,9.81416318 L8.64955357,9.81416318 L8.64955357,18.3827853 L14.1297957,18.3827853 L12.8782242,22.2507875 L17.2238039,18.3827853 Z" id="Rectangle-233" fill="#FFFFFF"></path>
                </g>
            </g>
        </svg>
        <!--end of svg code for the comments rounded icon -->
    </a></li>
</ul>
</div> <!-- end of article__details__share -->

</div>
<!-- end of article-hero -->


<div class="container-left">
  <div class="article__content story-view js-story-login-container story-show" data-story-content-id="ebd5ad48-29d0-45e9-b659-b6c9e1432e5b" data-story-version-id="43e0575f-2acf-456b-a306-eca6d0f44a7b" data-story-access="">
  <!--wrapper for article cards and story tags -->
    <div class="story__element__image">
      <figure>
        <img src="//quintype-01.imgix.net/insidegames-latam/2016-09/8ceed1db-ddea-47cb-a96b-d45464fe04e7/1280x720-Android-Store-Promo.png?w=600&fmt=pjpg&auto=compress"/>
      </figure>
    </div>

    <div class="article__content__card">
  
  
    
    
      <div class="story-element-view"
           data-card-content-id="6e0ab2f5-72ce-462a-93fe-724043e733f2"
           data-card-version-id="eb18bc78-2ad3-4704-bd2b-8ccb82d542e8"
           data-story-element-id="cc99394d-219e-43c8-80d2-fa92e2daef6a"
           data-story-element-type="text">
        
        
        
        <div class="story__element__text">
  <p><p>Stay on the water and do as many turns as you can! Just tap the screen to change the direction of the kitten. Try not to fall off the edges! Discover Legendary Cats and explore new handcrafted worlds!</p></p>
</div>
      </div>
    
      <div class="story-element-view"
           data-card-content-id="6e0ab2f5-72ce-462a-93fe-724043e733f2"
           data-card-version-id="eb18bc78-2ad3-4704-bd2b-8ccb82d542e8"
           data-story-element-id="fd301c83-d6f1-4391-a205-fa7d19357a69"
           data-story-element-type="text">
        
        
        
        <div class="story__element__text">
  <p><p> </p></p>
</div>
      </div>
    
      <div class="story-element-view"
           data-card-content-id="6e0ab2f5-72ce-462a-93fe-724043e733f2"
           data-card-version-id="eb18bc78-2ad3-4704-bd2b-8ccb82d542e8"
           data-story-element-id="06d3ecf7-2f7a-4fe8-b095-f4301b24ff75"
           data-story-element-type="youtube-video">
        
        
        
        <div class="youtube_video">
	<iframe src="//www.youtube.com/embed/ekwjSmwG6gQ?version=3"></iframe>
</div>
      </div>
    
      <div class="story-element-view"
           data-card-content-id="6e0ab2f5-72ce-462a-93fe-724043e733f2"
           data-card-version-id="eb18bc78-2ad3-4704-bd2b-8ccb82d542e8"
           data-story-element-id="592a97c3-a479-4811-80f7-fd9d7bb60a70"
           data-story-element-type="text">
        
        
        
        <div class="story__element__text">
  <p><p>How far can you go? Do as many zigzags and see if you can beat your friends high score in the online leader boards!</p></p>
</div>
      </div>
    
      <div class="story-element-view"
           data-card-content-id="6e0ab2f5-72ce-462a-93fe-724043e733f2"
           data-card-version-id="eb18bc78-2ad3-4704-bd2b-8ccb82d542e8"
           data-story-element-id="cc84d475-eaae-41a0-aa2f-4d64ec85803d"
           data-story-element-type="text">
        
        
        
        <div class="story__element__text">
  <p><p>Collect over 32 famous & pop art inspired characters!</p></p>
</div>
      </div>
    
      <div class="story-element-view"
           data-card-content-id="6e0ab2f5-72ce-462a-93fe-724043e733f2"
           data-card-version-id="eb18bc78-2ad3-4704-bd2b-8ccb82d542e8"
           data-story-element-id="f7dbc9c2-d8d0-45ba-a2d5-6c1a239172bf"
           data-story-element-type="image">
        
        
        
        <div class="hero-image mtop20">
  <figure>
    <img src="//quintype-01.imgix.net/insidegames-latam/2016-09/f4ec689e-fb33-41ef-8604-c175dd3fe133/SC_480x854_D.png?w=640&fmt=pjpg&auto=compress"/>
    <figcaption class='image_caption'></figcaption>
  </figure>
  <br>
</div>

      </div>
    
      <div class="story-element-view"
           data-card-content-id="6e0ab2f5-72ce-462a-93fe-724043e733f2"
           data-card-version-id="eb18bc78-2ad3-4704-bd2b-8ccb82d542e8"
           data-story-element-id="3e0cc8fc-2f9a-44f2-b05d-82666b8ecf25"
           data-story-element-type="text">
        
        
        
        <div class="story__element__text">
  <p><p>Experience the world of Splashy Cats… Completely Free to play on <a href="https://itunes.apple.com/th/app/splashy-cats-endless-zigzag/id1105999795?mt=8" shape="rect" target="_blank">iOS</a> and <a href="https://play.google.com/store/apps/details?id=com.ag.splashycats&amp;hl=en" shape="rect" target="_blank">Android</a> TODAY!</p></p>
</div>
      </div>
    
      <div class="story-element-view"
           data-card-content-id="6e0ab2f5-72ce-462a-93fe-724043e733f2"
           data-card-version-id="eb18bc78-2ad3-4704-bd2b-8ccb82d542e8"
           data-story-element-id="d3271299-45d7-4167-aaa5-18883cb84ab8"
           data-story-element-type="text">
        
        
        
        <div class="story__element__text">
  <p><p><strong>About Artik Games</strong></p></p>
</div>
      </div>
    
      <div class="story-element-view"
           data-card-content-id="6e0ab2f5-72ce-462a-93fe-724043e733f2"
           data-card-version-id="eb18bc78-2ad3-4704-bd2b-8ccb82d542e8"
           data-story-element-id="8a36d1d7-6ff5-4bf9-8b8a-65543c311ba5"
           data-story-element-type="text">
        
        
        
        <div class="story__element__text">
  <p><p><a href="http://artikgames.com/" shape="rect" target="_blank">Artik Games</a> is an independent games and entertainment studio based in Buenos Aires, Argentina just a few blocks from San Telmo and the famous Boca Juniors Football Stadium!<br clear="none" />
We’re passionate about entertainment industry and believe in creating amazing quality games filled with fun, action and adventure! We form a stellar hardworking team with years on creating amazing products and services that our fans love. Our team includes top artists and designers, ninja code developers, community, marketing and business folks. We’re a fun crowd and have a laid-back office that suits creative and energetic people. We’re a truly collaborative workplace where all team members get a say in game design and development.</p></p>
</div>
      </div>
    
  
</div>

    <div class="article__tags">
	<span class="article__tag-heading"> Tags </span>
  <ul>
    
      <li><a href="/tags/Argentina"> Argentina </a></li>
    
      <li><a href="/tags/Mobile"> Mobile </a></li>
    
      <li><a href="/tags/ARTIK Games"> ARTIK Games </a></li>
    
  </ul>
</div>
  </div> <!-- end of article__content -->
    <!-- comments AND ads partial 'comments_section'-->
    <div id="disqus_thread" class="disqus-chat-width"></div>

  </div>

<!-- story page side bar -->
<div class="container-right">
	<div class="story__sidebar">
		<aside >
			<div class="story__sidebar-stack">
  
</div>
			<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<div class="story__sidebar--newsletter" id="subscribe-newsletter">
  <div class="headings">
    <div class="mtop45"></div>
    <span class="section-headings">Sign up for Newsletter</span>
  </div>
  
  <div class="story__sidebar--newsletter-heading_latam">
  
    <span>Newsletter</span>
  </div>
  <div class="story__sidebar--newsletter-detail">
    
      <p> Enter Your Email to Get the Latest News about the Asian Games Industry from the <span class="subscribe_mail_text">InsideGamesAsia.biz Newsdesk</span> </p>
    
    <div id="mc_embed_signup">
      
        <form  class="modal__form" action="//insidegamesasia.us5.list-manage.com/subscribe/post?u=8d3595ab50&amp;id=de0ef7eeba" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      
        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
            <label for="mce-FNAME">First Name  <span class="asterisk">*</span>
          </label>
            <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
          </div>
          <div class="mc-field-group">
            <label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
          </label>
            <input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
          </div>
          <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
          </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div id="mce-responses" class="clear" style="margin:0px">
            <div class="response" id="mce-error-response" style="display:none;color:red; width:100%"></div>
            <div class="response" id="mce-success-response" style="display:none; width:100%"></div>
          </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_8d3595ab50_728e1804be" tabindex="-1" value="">
          </div>
          <div class="clear">
            <button name="subscribe" id="mc-embedded-subscribe" defaultValue>Subscribe</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
// Success Message fadeOut
$('#mc-embedded-subscribe').click(function() {
  $('#mce-success-response').fadeIn()
    setTimeout(function() {
      $('#mce-success-response').fadeOut()
    } , 4000)
  })
</script>

				<div class="ad_small_320_250">
				<!-- /60988533/IBMedia_Storypage_desktop_300x250 -->
					<div id='div-gpt-ad-1470203448818-8' style='height:250px; width:300px;'>
						<script>
							googletag.cmd.push(function() { googletag.display('div-gpt-ad-1470203448818-8'); });
						</script>
					</div>
				</div>
		</aside>
	</div>
<!-- end of side bar -->
</div>


<!-- more stories from section -->
<!-- more stories from section -->
<div class="section__stories">
  <div class="headings"> 
    <span class="section-headings">More from mobile</span>
  </div>
  <ul class="section__stories--story">
    
  <li class="section__stories--story-container">
    <div class="section__stories__images">
    <div class="storyshare__icons">
   <a href="#" rel="nofollow" class="storyshare__icons__facebook storyshare__icons__alignment" onclick="javascript:window.open('http://facebook.com/sharer.php?u='+ location.origin +'/international/2016/06/22/tencent-buys-clash-of-clans-maker-supercell','title',
  'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
  return false;" ></a>

  <a href="#" rel="nofollow" class="storyshare__icons__twitter storyshare__icons__alignment" onclick="javascript:window.open('https://twitter.com/intent/tweet?url='+ location.origin +'/international/2016/06/22/tencent-buys-clash-of-clans-maker-supercell;text=Tencent Buys ‘Clash Of Clans’ Maker Supercell;&original_referer=http:'+ location.origin +'/','',
  'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
  return false;" ></a>

  <a href="#" rel="nofollow" class="storyshare__icons__google storyshare__icons__alignment" onclick="javascript:window.open('https://plus.google.com/share?url='+ location.origin +'/international/2016/06/22/tencent-buys-clash-of-clans-maker-supercell','',
    'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;" ></a>
</div>

      <a href="/international/2016/06/22/tencent-buys-clash-of-clans-maker-supercell">
      <figure>
        <img src="//quintype-01.imgix.net/insidegames-latam/2016-09/68be8c44-94dd-40c2-b5ea-0f8ed2a78d49/tencent-HQ-pic.jpg?w=640&fmt=pjpg&auto=compress"/>
      </figure>
      </a>
      <div class="heading_with_author">
        <a href="/international/2016/06/22/tencent-buys-clash-of-clans-maker-supercell">
          <h5 class="section__stories--story-heading"> Tencent Buys ‘Clash Of Clans’ Maker Supercell </h5>
        </a>
        <p class="section__stories--story-byline">
            <span class="author-name"><strong> Martina Santoro </strong></span>
          <time datetime="Jun 22, 2016"> Jun 22, 2016 </time>
        </p>
      </div>
    </div>
  </li>

  <li class="section__stories--story-container">
    <div class="section__stories__images">
    <div class="storyshare__icons">
   <a href="#" rel="nofollow" class="storyshare__icons__facebook storyshare__icons__alignment" onclick="javascript:window.open('http://facebook.com/sharer.php?u='+ location.origin +'/all-platforms/2016/06/22/toren-is-now-available-also-for-osxmac-on-steam','title',
  'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
  return false;" ></a>

  <a href="#" rel="nofollow" class="storyshare__icons__twitter storyshare__icons__alignment" onclick="javascript:window.open('https://twitter.com/intent/tweet?url='+ location.origin +'/all-platforms/2016/06/22/toren-is-now-available-also-for-osxmac-on-steam;text=Toren is now available also for OSX/Mac on Steam!;&original_referer=http:'+ location.origin +'/','',
  'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
  return false;" ></a>

  <a href="#" rel="nofollow" class="storyshare__icons__google storyshare__icons__alignment" onclick="javascript:window.open('https://plus.google.com/share?url='+ location.origin +'/all-platforms/2016/06/22/toren-is-now-available-also-for-osxmac-on-steam','',
    'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;" ></a>
</div>

      <a href="/all-platforms/2016/06/22/toren-is-now-available-also-for-osxmac-on-steam">
      <figure>
        <img src="//quintype-01.imgix.net/insidegames-latam/2016-09/b6800722-f7ab-48fa-95fb-693a385dce6f/maxresdefault-1.jpg?w=640&fmt=pjpg&auto=compress"/>
      </figure>
      </a>
      <div class="heading_with_author">
        <a href="/all-platforms/2016/06/22/toren-is-now-available-also-for-osxmac-on-steam">
          <h5 class="section__stories--story-heading"> Toren is now available also for OSX/Mac on Steam! </h5>
        </a>
        <p class="section__stories--story-byline">
            <span class="author-name"><strong> Martina Santoro </strong></span>
          <time datetime="Jun 22, 2016"> Jun 22, 2016 </time>
        </p>
      </div>
    </div>
  </li>

  <li class="section__stories--story-container">
    <div class="section__stories__images">
    <div class="storyshare__icons">
   <a href="#" rel="nofollow" class="storyshare__icons__facebook storyshare__icons__alignment" onclick="javascript:window.open('http://facebook.com/sharer.php?u='+ location.origin +'/mobile/2016/06/22/the-sandbox-evolution-interview-with-the-creators','title',
  'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
  return false;" ></a>

  <a href="#" rel="nofollow" class="storyshare__icons__twitter storyshare__icons__alignment" onclick="javascript:window.open('https://twitter.com/intent/tweet?url='+ location.origin +'/mobile/2016/06/22/the-sandbox-evolution-interview-with-the-creators;text=The SANDBOX Evolution: Interview with the Creators!;&original_referer=http:'+ location.origin +'/','',
  'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
  return false;" ></a>

  <a href="#" rel="nofollow" class="storyshare__icons__google storyshare__icons__alignment" onclick="javascript:window.open('https://plus.google.com/share?url='+ location.origin +'/mobile/2016/06/22/the-sandbox-evolution-interview-with-the-creators','',
    'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;" ></a>
</div>

      <a href="/mobile/2016/06/22/the-sandbox-evolution-interview-with-the-creators">
      <figure>
        <img src="//quintype-01.imgix.net/insidegames-latam/2016-09/7298d554-ef5a-4689-947b-0507f7cf3cf4/The-Sandbox-Evolution1200x627-01.png?w=640&fmt=pjpg&auto=compress"/>
      </figure>
      </a>
      <div class="heading_with_author">
        <a href="/mobile/2016/06/22/the-sandbox-evolution-interview-with-the-creators">
          <h5 class="section__stories--story-heading"> The SANDBOX Evolution: Interview with the Creators! </h5>
        </a>
        <p class="section__stories--story-byline">
            <span class="author-name"><strong> Martina Santoro </strong></span>
          <time datetime="Jun 22, 2016"> Jun 22, 2016 </time>
        </p>
      </div>
    </div>
  </li>

  <li class="section__stories--story-container">
    <div class="section__stories__images">
    <div class="storyshare__icons">
   <a href="#" rel="nofollow" class="storyshare__icons__facebook storyshare__icons__alignment" onclick="javascript:window.open('http://facebook.com/sharer.php?u='+ location.origin +'/international/2016/06/21/barbies-getting-a-new-look-and-a-new-job-as-a-game-developer','title',
  'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
  return false;" ></a>

  <a href="#" rel="nofollow" class="storyshare__icons__twitter storyshare__icons__alignment" onclick="javascript:window.open('https://twitter.com/intent/tweet?url='+ location.origin +'/international/2016/06/21/barbies-getting-a-new-look-and-a-new-job-as-a-game-developer;text=Barbie&#39;s getting a new look and a new job — as a game developer;&original_referer=http:'+ location.origin +'/','',
  'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
  return false;" ></a>

  <a href="#" rel="nofollow" class="storyshare__icons__google storyshare__icons__alignment" onclick="javascript:window.open('https://plus.google.com/share?url='+ location.origin +'/international/2016/06/21/barbies-getting-a-new-look-and-a-new-job-as-a-game-developer','',
    'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;" ></a>
</div>

      <a href="/international/2016/06/21/barbies-getting-a-new-look-and-a-new-job-as-a-game-developer">
      <figure>
        <img src="//quintype-01.imgix.net/insidegames-latam/2016-09/4fddd5c4-eb3a-4435-9f51-3970b10b8e5f/2016_06_20_6812_1466406452._large.jpg?w=640&fmt=pjpg&auto=compress"/>
      </figure>
      </a>
      <div class="heading_with_author">
        <a href="/international/2016/06/21/barbies-getting-a-new-look-and-a-new-job-as-a-game-developer">
          <h5 class="section__stories--story-heading"> Barbie's getting a new look and a new job — as a game developer </h5>
        </a>
        <p class="section__stories--story-byline">
            <span class="author-name"><strong> Martina Santoro </strong></span>
          <time datetime="Jun 21, 2016"> Jun 21, 2016 </time>
        </p>
      </div>
    </div>
  </li>


  </ul>
     <a href="/category/mobile">
      <span class="section__stories--story-load-more" id="show_more">Show more
        <!--empty spans for the arrow styling -->
        <span class="arrow"></span>
        <span class="arow-head"></span>
        <!-- end of arrow styling -->
      </span>
    </a>
</div>
<!--end of stories from section -->


</div>


</div>
<script>
  qlitics('track', 'story-view', {
    'story-content-id': $('.story-view').data('story-content-id')
  });

  /**
   *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
   *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
   */
  /*
  var disqus_config = function () {
      this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  */
  (function() {  // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');

      s.src = '//insidegamesforum.disqus.com/embed.js';

      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>
  Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
        <div class="clear"></div>
        <footer>
  <div class="footer-wrapper">
    <div class="container">
    <div class="contact-info">
      <div class="contact-info__about">
        <div class="about-us">
          <h5 class="about-header"> About Us </h5>
          
            <!-- LATAM -->
            <h2 class="footer-logo--wrapper"><a href="/" class="footer-latam-logo"></a></h2>
            <p>InsideGamesLatam.biz - The Key Resource for the Latam Games Industry Business</p>
            <p>Contact us: <a href="mailto:info@insidegameslatam.biz"> info@insidegameslatam.biz </a> </p>
          
        </div>
      </div>

      <div class="contact-info__social">
        <h5 class="social-header"> Follow Us </h5>
        <div class="social-contact">
          <ul>
            <li><a class="social-share facebook-icon" target=" " href=""></a></li>
            <li><a class="social-share twitter-icon" target=" " href=""></a></li>
            <li><a class="social-share google-icon" target=" " href=""></a></li>
            <li><a class="social-share linkedin-icon" target=" " href=""></a></li>
          </ul>
        </div>
      </div>
    </div>
   </div>

    <div class="copyright-info">
      <p class=""><a href="/about-us"> About Us </a> <span>|</span> <a href="/privacy_policy"> Privacy Policy </a> </p>
      <p class="copyright">© Copyright 2016 - International Business Media Pte.Ltd </p>
      <a class="copyright" target="_blank" href="http://www.quintype.com">Powered by Quintype</a>
    </div>
      </div>
</footer>
      </div>
      <script type="text/javascript">
        var qtConfig = {
          "cdnImage": "quintype-01.imgix.net"
        };
    </script>
  </body>
</html>
