
  <body>
    <nav class="navbar navbar-default  no-margin">
      <div class="collapse navbar-collapse pull-left" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active" ><button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </li>
        </ul>
      </div>
      <div class="navbar-header fixed-brand">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  id="menu-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Quintype</a>
      </div>
    </nav>
    <div id="wrapper">
      <div id="sidebar-wrapper">
          <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <% @side_linkes.each do |section|%>
              <li>
                <a href="#"><%=section['title'] ? section['title'] : ''%> </a>
              </li>
            <%end%>
          </ul>
      </div>
      <div>
        <div id="sidebar-wrapper">
          <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <% @side_linkes.each do |section|%>
              <li>
                <a href="#" class="side_links"><%=section['title'] ? section['title'] : ''%> </a>
              </li>
            <%end%>
          </ul>
        </div>
        <div id="page-content-wrapper">
          <div class="container-fluid xyz">
            <div class="row">

              <%= yield%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script type="text/javascript">

$("#sm_stories").toggleClass("container")
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
     $("#menu-toggle-2").click(function(e) {
        e.preventDefault();
        $("#sm_stories").toggleClass("container")
        $("#main_story").toggleClass("container_side")
        $("#wrapper").toggleClass("toggled-2");
        $('#menu ul').hide();
    });

     function initMenu() {
      $('#menu ul').hide();
      $('#menu ul').children('.current').parent().show();
      //$('#menu ul:first').show();
      $('#menu li a').click(
        function() {
          var checkElement = $(this).next();
          if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
            return false;
            }
          if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
            $('#menu ul:visible').slideUp('normal');
            checkElement.slideDown('normal');
            return false;
            }
          }
        );
      }
    $(document).ready(function() {initMenu();});
</script>